.message-logs {
  height: calc(100vh - 100px);
  width: 100%;
  padding-bottom: 50px;
}

.log__message {
  margin-bottom: 10px;
}

.log__her-message {
  margin-left: 12px;
}

.log__your-message {
  margin-right: 12px;
}

.lreveal-enter {
  opacity: 0.01;
  transform-origin: top left;
  transform: scale(0.01, 0.01);
}

.lreveal-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: all 200ms ease-in-out;
}

.rreveal-enter {
  opacity: 0.01;
  transform-origin: top right;
  transform: scale(0.01, 0.01);
}

.rreveal-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: all 200ms ease;
}
