@import url('../variables.css');

.root {
  display: flex;
  flex-direction: row-reverse;
}

.your-message__action-log {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: right;
  font-size: var(--wave-message-author-font-siize);
  /* FIXME: 吹き出しの飛び出ているところ長さまとめて管理したほうがいい */
  margin-right: 0.6rem;
  margin-bottom: 2px;
}
